body {
    background-color: rgb(255, 246, 246);
}

#change-fontsize {
    font-size: 18px;
}

#show-text {
    display: none;
}

#picture-lamp {
    cursor: pointer;
    width: 130px;
    height: 180px;
}

#text-Clicktuof {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    border-radius: 50px;
    padding: 5px;
    border: 1px solid rgb(63, 44, 44);
    background-color: rgb(189, 186, 184);
    transition: 0.3s;
}
#text-Clicktuof:hover {
    background-color: rgb(159, 156, 154);
}

.on {
    background-color: rgb(255, 154, 91) !important;
}

.on:hover {
    background-color: rgb(218, 131, 77) !important;
}

.off {
    background-color: rgb(189, 186, 184) !important;
}

.off:hover {
    background-color: rgb(159, 156, 154) !important;
}

