body {
    background-color: rgb(255, 246, 246);
}

#change-fontsize {
    font-size: 18px;
}

#show-text {
    display: none;
}

#picture-lamp {
    cursor: pointer;
    width: 130px;
    height: 180px;
}

#text-Clicktuof {
.off {
    background-color: rgb(189, 186, 184) !important;
}

.off:hover {
    background-color: rgb(159, 156, 154) !important;
}

